
show user;

DROP TABLE Orders ;
DROP TABLE Book ;
DROP TABLE Customer ;
DROP TABLE Imported_Book ;

CREATE TABLE Book (
  bookid      NUMBER(2) PRIMARY KEY,
  bookname    VARCHAR2(40),
  publisher   VARCHAR2(40),
  price       NUMBER(8) 
);

CREATE TABLE  Customer (
  custid      NUMBER(2) PRIMARY KEY,  
  name        VARCHAR2(40),
  address     VARCHAR2(50),
  phone       VARCHAR2(20)
);


CREATE TABLE Orders (
  orderid NUMBER(2) PRIMARY KEY,
  custid  NUMBER(2) REFERENCES Customer(custid),
  bookid  NUMBER(2) REFERENCES Book(bookid),
  saleprice NUMBER(8) ,
  orderdate DATE
);


-- Book, Customer, Orders 데이터 생성
INSERT INTO Book VALUES(1, '축구의 역사', '굿스포츠', 7000);
INSERT INTO Book VALUES(2, '축구아는 여자', '나무수', 13000);
INSERT INTO Book VALUES(3, '축구의 이해', '대한미디어', 22000);

SELECT * FROM BOOK;

INSERT INTO Customer VALUES (1, '박지성', '영국 맨체스타', '000-5000-0001');
INSERT INTO Customer VALUES (2, '김연아', '대한민국 서울', '000-6000-0001');  
INSERT INTO Customer VALUES (3, '장미란', '대한민국 강원도', '000-7000-0001');

-- 주문(Orders) 테이블의 책값은 할인 판매를 가정함
INSERT INTO Orders VALUES (1, 1, 1, 6000, TO_DATE('2014-07-01','yyyy-mm-dd')); 
INSERT INTO Orders VALUES (2, 1, 3, 21000, TO_DATE('2014-07-03','yyyy-mm-dd'));
INSERT INTO Orders VALUES (3, 2, 5, 8000, TO_DATE('2014-07-03','yyyy-mm-dd')); 
---------------

-- 여기는 3장에서 사용되는 Imported_book 테이블

CREATE TABLE Imported_Book (
  bookid      NUMBER ,
  bookname    VARCHAR(40),
  publisher   VARCHAR(40),
  price       NUMBER(8) 
);
INSERT INTO Imported_Book VALUES(21, 'Zen Golf', 'Pearson', 12000);
INSERT INTO Imported_Book VALUES(22, 'Soccer Skills', 'Human Kinetics', 15000);

COMMIT;
-- EXIT
---------------


------

SELECT * FROM BOOK;
SELECT * FROM CUSTOMER;
SELECT * FROM IMPORTED_BOOK;
SELECT * FROM ORDERS;

-- 모든 도서의 이름과 가격을 검색하시오

SELECT BOOKID, PRICE 
FROM BOOK;

-- 모든 도서의 도서번호, 도서이름, 출판사, 가격을 검색하시오

SELECT *
FROM BOOK;

-- 도서 테이블에 있는 모든 출판사를 검색하시오

SELECT DISTINCT PUBLISHER 
FROM BOOK;

-- 가격이 20,000원 미만인 도서를 검색하시오

SELECT *
FROM BOOK
WHERE PRICE < 20000;

-- 가격이 10,000 이상 20,000 이하인 도서를 검색하시오

SELECT *
FROM BOOK
WHERE PRICE BETWEEN 10000 AND 20000;

-- 출판사가 '굿스포츠' 혹은 '대한미디어'인 도서를 검색하시오

SELECT *
FROM BOOK
WHERE PUBLISHER IN ('굿스포츠','대한미디어');

SELECT *
FROM BOOK
WHERE PUBLISHER = '굿스포츠'
OR PUBLISHER = '대한미디어';

-- '축구의 역사'를 출간한 출판사를 검색하시오.

SELECT PUBLISHER
FROM BOOK
WHERE BOOKNAME = '축구의 역사';

-- 도서 이름에 '축구' 가 포함된 출판사를 검색하시오

SELECT PUBLISHER
FROM BOOK
WHERE BOOKNAME LIKE '%축구%';

-- 도서이름의 왼쪽 두번때에 '구'라는 문자열을 갖는 도서

SELECT BOOKNAME
FROM BOOK
WHERE BOOKNAME LIKE '_구%';

-- 축구에 관한 도서 중 가격이 20,000원 이상인 도서를 검색하시오

SELECT BOOKNAME
FROM BOOK
WHERE PRICE >= 20000
AND BOOKNAME LIKE '%축구%';

-- 도서를 이름순으로 검색하시오

SELECT BOOKNAME
FROM BOOK
ORDER BY BOOKNAME;

-- 도서를 가격순으로 검색을 하고 가격이 같으면 이름순으로 검색하세요

SELECT BOOKNAME, PRICE
FROM BOOK
ORDER BY PRICE,BOOKNAME;

-- 도서를 가격의 내림차순으로 검색하시오
-- 만약 가격이 같다면 출판사의 오름차순으로 검색한다

SELECT BOOKNAME
FROM BOOK
ORDER BY PRICE DESC,PUBLISHER;


SELECT COUNT(*)
FROM ORDERS;

SELECT * FROM ORDERS;

SELECT SUM(SALEPRICE)
FROM ORDERS;

SELECT SUM(SALEPRICE)
FROM ORDERS
WHERE CUSTID = 2;

SELECT SUM(SALEPRICE), AVG(SALEPRICE), MAX(SALEPRICE), MIN(SALEPRICE),
    VARIANCE(SALEPRICE), STDDEV(SALEPRICE)
FROM ORDERS;

SELECT CUSTID, COUNT(BOOKID)
FROM ORDERS
WHERE SALEPRICE >= 8000
GROUP BY CUSTID;

SELECT C.CUSTID, C.NAME, C.ADDRESS, C.PHONE,
    O.ORDERID, O.BOOKID, O.SALEPRICE, O.ORDERDATE
FROM CUSTOMER C, ORDERS O
WHERE C.CUSTID = O.CUSTID;

SELECT C.CUSTID, C.NAME, C.ADDRESS, C.PHONE,
    O.ORDERID, O.BOOKID, O.SALEPRICE, O.ORDERDATE
FROM CUSTOMER C, ORDERS O
WHERE C.CUSTID = O.CUSTID
ORDER BY C.CUSTID;

SELECT C.NAME,O.SALEPRICE
FROM CUSTOMER C, ORDERS O
WHERE C.CUSTID = O.CUSTID;

SELECT C.NAME, SUM(O.SALEPRICE)
FROM CUSTOMER C, ORDERS O
WHERE C.CUSTID = O.CUSTID
GROUP BY C.NAME;

SELECT C.NAME, B.BOOKNAME
FROM CUSTOMER C, ORDERS O, BOOK B
WHERE C.CUSTID = O.CUSTID
AND O.BOOKID = B.BOOKID;

SELECT C.NAME, B.BOOKNAME
FROM CUSTOMER C, ORDERS O, BOOK B
WHERE C.CUSTID = O.CUSTID
AND O.BOOKID = B.BOOKID
AND B.PRICE = 20000;

SELECT SUM(SALEPRICE)
FROM ORDERS;


SELECT SUM(SALEPRICE)
FROM ORDERS
WHERE CUSTID = 2;

SELECT SUM(SALEPRICE), ROUND(AVG(SALEPRICE)), MIN(SALEPRICE), MAX(SALEPRICE)
FROM ORDERS;

SELECT CUSTID, COUNT(*), SUM(SALEPRICE)
FROM ORDERS
GROUP BY CUSTID;

SELECT CUSTID, COUNT(*)
FROM ORDERS
WHERE SALEPRICE >= 8000
GROUP BY CUSTID
HAVING COUNT(*) >= 2;

SELECT *
FROM CUSTOMER C NATURAL JOIN ORDERS O
ORDER BY C.NAME;

SELECT NAME, SALEPRICE
FROM CUSTOMER C NATURAL JOIN ORDERS O;

SELECT C. NAME, SUM(O.SALEPRICE)
FROM CUSTOMER C, ORDERS O
WHERE C.CUSTID = O.CUSTID
GROUP BY C.NAME
ORDER BY C.NAME;

SELECT C.NAME, B.BOOKNAME
FROM CUSTOMER C, ORDERS O, BOOK B
WHERE C.CUSTID = O.CUSTID
AND O.BOOKID = B.BOOKID;


SELECT C.NAME, B.BOOKNAME
FROM CUSTOMER C, ORDERS O, BOOK B
WHERE C.CUSTID = O.CUSTID
AND O.BOOKID = B.BOOKID
AND O.SALEPRICE = 20000;

SELECT C.NAME, O.SALEPRICE
FROM CUSTOMER C, ORDERS O
WHERE C.CUSTID = O.CUSTID(+);

SELECT BOOKNAME
FROM BOOK
WHERE PRICE = (SELECT MAX(PRICE) FROM BOOK);


