-- 사원 정보가 들어있는 EMP 테이블
DESC EMP;

 /*
 EMPNO 사원 번호
 ENAME 사원 이름
 JOB 사원 직책
 MGR직속 상관의 사원 번호
 HIREDATE 입사일
 SAL 급여
 COMM 급여 외 추가 수당
 DEPTNO 사원이 속한 부서 번호
 */

SELECT * FROM EMP;

/*
SELECT:조회할 열 이름 또는 출력할 데이터를 하나 이상 지정 또는 애스크리스크(*)로 전체 열을 지정
FROM:조회할 테이블 이름
*/
SELECT EMPNO, ENAME FROM EMP;

SELECT EMPNO, DEPTNO FROM EMP;

SELECT EMPNO FROM EMP;

-- 열 중복 제거하기
SELECT DISTINCT DEPTNO
FROM EMP;

SELECT DISTINCT JOB, DEPTNO
FROM EMP;

-- 칼럼 연산
SELECT ENAME, SAL, COMM, SAL*12+COMM 
FROM EMP;

-- AS 를 이용하여 이름 붙이기
SELECT ENAME, SAL, COMM, SAL*12+COMM AS ANNUAL 
FROM EMP;


-- 오름차순 사용하기
SELECT * FROM EMP
ORDER BY SAL;

-- 내림차순 사용하기
SELECT * FROM EMP
ORDER BY SAL DESC;

SELECT * FROM EMP
ORDER BY EMPNO;

-- 각각에 열에 내림차순과 올림차순 동시에 사용하기

SELECT * FROM EMP
ORDER BY DEPTNO,SAL DESC;

--- 조건 WHERE ---

SELECT *
FROM EMP
WHERE DEPTNO = 30;

SELECT *
FROM EMP
WHERE DEPTNO >= 30;

SELECT *
FROM EMP
WHERE EMPNO = 7782;


--- AND , OR

SELECT *
FROM EMP
WHERE SAL >= 1500
AND JOB = 'SALESMAN';

SELECT *
FROM EMP
WHERE EMPNO = 7499
AND DEPTNO = 30;

-- 산술 연산자

SELECT *
FROM EMP
WHERE SAL * 12 = 36000;

SELECT *
FROM EMP
WHERE SAL * 12 >= 36000;

SELECT *
FROM EMP
WHERE SAL * 12 >= 3600
AND SAL * 12 < 15000;

SELECT *
FROM EMP
WHERE SAL * 12 BETWEEN 3600 AND 15000;


-- 문자를 대소 비교 연산자로 비교

SELECT *
FROM EMP
WHERE ENAME >= 'F';

SELECT *
FROM EMP
WHERE ENAME <= 'FORZ'
ORDER BY ENAME;

-- 등가 비교 연산자

SELECT *
FROM EMP
WHERE SAL != 3000;

SELECT *
FROM EMP
WHERE SAL <> 3000;

SELECT *
FROM EMP
WHERE SAL ^= 3000;

-- 논리 부정 연산자

SELECT *
FROM EMP
WHERE NOT SAL = 3000;

SELECT *
FROM EMP
WHERE JOB <> 'MANAGER';


-- IN 연산자

SELECT *
FROM EMP
WHERE JOB = 'MANAGER'
OR JOB = 'SALESMAN'
OR JOB = 'CLERK';

SELECT *
FROM EMP
WHERE JOB IN ('MANAGER','SALESMAN','CLERK');

SELECT *
FROM EMP
WHERE JOB NOT IN ('MANAGER','SALESMAN','CLERK');

-- LIKE 연산자

SELECT *
FROM EMP
WHERE ENAME LIKE 'S%';

SELECT *
FROM EMP
WHERE ENAME LIKE 'MAR_IN';

-- IS NULL 연산자

SELECT ENAME, COMM
FROM EMP;

SELECT ENAME
FROM EMP
WHERE COMM IS NULL;


SELECT ENAME
FROM EMP
WHERE COMM IS NOT NULL;

SELECT *
FROM EMP
WHERE SAL > NULL
OR COMM IS NULL;

-- 집합 연산자

-- 합집합
SELECT EMPNO, ENAME, SAL, DEPTNO
FROM EMP
WHERE DEPTNO = 10
UNION
SELECT EMPNO, ENAME, SAL, DEPTNO
FROM EMP
WHERE DEPTNO = 20;

-- 교집합
SELECT SAL
FROM EMP
WHERE SAL >= 2000
INTERSECT
SELECT SAL
FROM EMP
WHERE SAL <= 3000;

-- 연습

SELECT *
FROM EMP
WHERE ENAME LIKE '%S';


SELECT ENAME, JOB, SAL, DEPTNO
FROM EMP
WHERE COMM IS NULL
AND DEPTNO IN (10,20)
AND JOB <> 'PRESIDENT';


SELECT EMPNO, ENAME, JOB, SAL, DEPTNO
FROM EMP
WHERE DEPTNO = 30
AND JOB = 'SALESMAN';

SELECT EMPNO, ENAME, JOB, SAL, DEPTNO
FROM EMP
WHERE DEPTNO = 30
AND SAL > 2000
union
SELECT EMPNO, ENAME, JOB, SAL, DEPTNO
FROM EMP
WHERE DEPTNO = 20
AND SAL > 2000;

SELECT EMPNO, ENAME, JOB, SAL, DEPTNO
FROM EMP
WHERE DEPTNO IN(30,20)
AND SAL > 2000;

SELECT *
FROM EMP
WHERE NOT SAL <= 3000
OR NOT SAL >= 2000;

SELECT ENAME, EMPNO, SAL, DEPTNO
FROM EMP
WHERE ENAME LIKE '%E%'
AND DEPTNO = 30
AND SAL NOT BETWEEN 1000 AND 2000;

SELECT *
FROM EMP
WHERE COMM IS NULL
AND JOB IN ('MANAGER','CLERK')
AND ENAME NOT LIKE ('_L%');

--- Oracle 함수
 
-- 대문자변환UPPER 소문자변환LOWER TITLE변환 INITCAP
SELECT ENAME, UPPER(ENAME), LOWER(ENAME), INITCAP(ENAME)
FROM EMP;

SELECT *
FROM EMP
WHERE UPPER(ENAME) = UPPER('scott');

-- LIKE 응용
SELECT *
FROM EMP
WHERE UPPER(ENAME) LIKE UPPER ('%scott%');

-- LENGTH

SELECT ENAME, LENGTH(ENAME)
FROM EMP;

SELECT ENAME, LENGTH(ENAME)
FROM EMP
WHERE LENGTH(ENAME) >= 5;

-- 바이트 값을 리턴해주는 LENGHTHB
SELECT LENGTH('한글'), LENGTHB('한글')
FROM DUAL;
-- DUAL은 임시 연산이나 함수 결과값 확인용도로 쓰이는 가상 테이블

SELECT *
FROM EMP
WHERE LENGTH(JOB) >= 6;


-- SUBSTR 문자의 일부를 추출

SELECT JOB, SUBSTR(JOB,1,2), SUBSTR(JOB,3,2), SUBSTR(JOB,5)
FROM EMP;

SELECT JOB,
    SUBSTR(JOB, -LENGTH(JOB)),
    SUBSTR(JOB, -LENGTH(JOB), 2),
    SUBSTR(JOB, -3)
FROM EMP;



-- 문제
SELECT ENAME, SAL, SAL*12 AS ANNSAL
FROM EMP
ORDER BY ANNSAL DESC;

SELECT ENAME, JOB, SAL, DEPTNO
FROM EMP
WHERE COMM IS NULL
AND DEPTNO IN (10,20)
AND JOB <> 'PRESIDENT';

SELECT ENAME, LOWER(SUBSTR(ENAME, -LENGTH(ENAME), 3)) AS NAME
FROM EMP;


--- 0407
-- INSTR 문자열 데이터 안에서 특정 문자 위치를 찾는 INSTR 함수

/*
INSTR_1 처음나오는 L 
INSTR_2 5번째글자 이후에 처음나오는 L 
INSTR_3 2번째 이후 2번째 나오는 L
*/
SELECT INSTR('HELLO,ORACLE!','L') AS INSTR_1,
INSTR('HELLO,ORACLE!','L',5) AS INSTR_2,
INSTR('HELLO,ORACLE!','L',2,2) AS INSTR_3
FROM DUAL;

-- INSTR를 이용하여 특정 문자를 포함하고 있는 행 찾기
SELECT *
FROM EMP
WHERE INSTR(ENAME, 'S' ) > 0;
-- 위아래 결과는 같다
SELECT *
FROM EMP
WHERE ENAME LIKE '%S%';

-- 특정 문자를 다른 문자로 바꾸는 REPLACE 함수

SELECT '010-1234-5678' AS REPLACE_BEFORE,
    REPLACE('010-1234-5678', '-', ' ') AS REPLACE_1,
    REPLACE('010-1234-5678', '-') AS REPLACE_2
FROM DUAL;

-- 데이터의 빈공간을 특정 문자로 채우는 LPAD, RPAD 함수

SELECT 'Oracel',
    LPAD('Oracle', 10, '#') AS LPAD_1,
    RPAD('Oracle', 10, '*') AS RPAD_1,
    LPAD('Oracle', 10) AS LPAD_2,
    RPAD('Oracle', 10) AS RPAD_2
FROM DUAL;

SELECT RPAD('971225-', 12, '*') AS RPAD_JMNO,
    RPAD('010-1234-', 13, '*') AS RPAD_PHONE
FROM DUAL;

-- 두 문자열 데이터를 합치는 CONCAT 함수

SELECT CONCAT(EMPNO, ENAME),
    CONCAT(EMPNO, CONCAT(' : ', ENAME))
FROM EMP
WHERE ENAME = 'SCOTT';

SELECT EMPNO || ENAME,
    EMPNO || ' : ' || ENAME
FROM EMP;

-- 특정문자를 지우는 TRIM, LTRIM, RTIM

SELECT TRIM('  ORACLE  '),
LTRIM('  ORACLE  '),
RTRIM('  ORACLE  ')
FROM DUAL;

SELECT '[' || TRIM('  Oracle  ') || ']' AS TRIM,
'[' || TRIM(LEADING FROM'   Oracle  ') || ']' AS TRIM_LEADING,
'[' || TRIM(TRAILING FROM'   Oracle  ') || ']' AS TRIM_TRAILING,
'[' || TRIM(BOTH FROM'   Oracle  ') || ']' AS TRIM_BOTH
FROM DUAL;

-- 특정 문자 삭제
SELECT '[' || TRIM('_' FROM '__Oracle__') || ']' AS TRIM,
'[' || TRIM(LEADING '_' FROM '__Oracle__') || ']' AS TRIM_LEADING,
'[' || TRIM(TRAILING '_' FROM '__Oracle__') || ']' AS TRIM_TRAILING,
'[' || TRIM(BOTH '_' FROM '__Oracle__') || ']' AS TRIM_BOTH
FROM DUAL;

-- 문자열 출력
SELECT '[' || TRIM('_Oracle_') || ']' AS TRIM,
'[' || LTRIM('_Oracle_') || ']' AS LTRIM,
'[' || LTRIM('<_Oracle_>', '_<') || ']' AS LTRIM2,
'[' || RTRIM('_Oracle_') || ']' AS RTRIM,
'[' || RTRIM('<_Oracle_>', '>_') || ']' AS RTRIM2
FROM DUAL;


--- 숫자 함수

-- 특정 위치에서 반올림하는 ROUND
SELECT ROUND(1234.5678),
ROUND(1234.5678, 2),
ROUND(1234.5678, -2)
FROM DUAL;

-- 특정 위치에서 버리는 TRUNC
SELECT TRUNC(1234.5678),
TRUNC(1234.5678, 2),
TRUNC(1234.5678, -2)
FROM DUAL;

-- 지정한 숫자와 가까운 정수를 찾는 CEIL,FLOOR
SELECT CEIL(3.14),
CEIL(-3.14),
FLOOR(3.14),
FLOOR(-3.14)
FROM DUAL;

-- 숫자를 나눈 나머지 값을 구하는 MOD 
SELECT MOD(15, 6),
       MOD(10, 2),
       MOD(11, 2)
FROM DUAL;

-- 날짜 데이터

SELECT SYSDATE AS NOW,
       SYSDATE-1 AS YESTERDAY,
       SYSDATE+1 AS TOMORROW
FROM DUAL;


-- 몇개월 이후 날짜를 구하는 ADD_MONTHS
SELECT SYSDATE,
ADD_MONTHS(SYSDATE, 3),
ADD_MONTHS(SYSDATE,-3)
FROM DUAL;

-- 입사 10주년 사원
SELECT EMPNO, ENAME, HIREDATE,
ADD_MONTHS(HIREDATE, 120) AS WORK10YEAR
FROM EMP;

--입사 32년 미만인 사원
SELECT EMPNO, ENAME, HIREDATE, SYSDATE
FROM EMP
WHERE ADD_MONTHS(HIREDATE, 434)> SYSDATE;

SELECT EMPNO, ENAME, HIREDATE,
ADD_MONTHS(HIREDATE, 120) AS YEAR
FROM EMP
WHERE ADD_MONTHS(HIREDATE, 120) <= SYSDATE;

SELECT SYSDATE, ADD_MONTHS(SYSDATE, 6)
FROM DUAL;

-- MONTHS_BETWEEN

SELECT EMPNO, ENAME, HIREDATE, SYSDATE,
       MONTHS_BETWEEN(HIREDATE, SYSDATE) AS MONTH1,
       MONTHS_BETWEEN(SYSDATE, SYSDATE) AS MONTH2,
       TRUNC(MONTHS_BETWEEN(SYSDATE, HIREDATE)) AS MONTH3
FROM EMP;

-- 달의 마지막날 구하기
SELECT SYSDATE,
    LAST_DAY(SYSDATE)
FROM DUAL;

--- 자료형 변환 함수

SELECT TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI:SS') AS 현재날짜시간
FROM DUAL;

SELECT SYSDATE,
    TO_CHAR(SYSDATE, 'HH12:MI:SS AM') AS HHMISS_AM
FROM DUAL;

SELECT SAL,
    TO_CHAR(SAL, '$999,999') AS SAL_$,
    TO_CHAR(SAL, 'L999,999') AS SAL_L,
    TO_CHAR(SAL, '999,999.00') AS SAL_1,
    TO_CHAR(SAL, '000,999,999.00') AS SAL_2,
    TO_CHAR(SAL, '000999999.99') AS SAL_3,
    TO_CHAR(SAL, '999,999,00') AS SAL_4
FROM EMP;

SELECT TO_NUMBER('1,300', '999,999') - TO_NUMBER('1,500','999,999')
FROM DUAL;

SELECT TO_DATE('20180714', 'YYYY_MM_DD')
FROM DUAL;

-- NULL 처리 함수

SELECT SAL, COMM, SAL+COMM,
        NVL(COMM,0), SAL+NVL(COMM,0)
FROM EMP;


SELECT SAL, COMM,
    NVL2(COMM, 'O', 'X'),
    NVL2(COMM, SAL*12+COMM, SAL*12)
FROM EMP;

-- DCODE (IF)
SELECT EMPNO, ENAME, JOB, SAL,
    DECODE(JOB,
           'MANAGER', SAL*1.1,
           'SALESMAN', SAL*1.05,
           'ANALYST', SAL,
           SAL*1.03) AS UPSAL
FROM EMP;

-- CASE

SELECT EMPNO, ENAME, JOB, SAL,
CASE JOB
    WHEN 'MANAGER' THEN SAL*1.1
    WHEN 'SALESMAN' THEN SAL*1.05
    WHEN 'ANALYST' THEN SAL
    ELSE SAL*1.03
END AS UPSAL
FROM EMP;


--- 다중행 함수와 그룹화

SELECT SUM(SAL)
FROM EMP;

SELECT SUM(COMM)
FROM EMP;

SELECT MAX(SAL)
FROM EMP;

SELECT MAX(SAL), MIN(SAL)
FROM EMP;

SELECT ROUND(AVG(SAL), 2)
FROM EMP;

SELECT SUM(DISTINCT SAL), SUM(SAL)
FROM EMP;

SELECT SUM(SAL), SUM(COMM)
FROM EMP;

-- COUNT

SELECT COUNT(*)
FROM EMP;

SELECT COUNT(*)
FROM EMP
WHERE DEPTNO = 30;

SELECT COUNT(COMM)
FROM EMP
WHERE COMM IS NOT NULL;

SELECT MAX(HIREDATE)
FROM EMP;


-- 문제

SELECT *
FROM EMP;

SELECT SYSDATE+1 AS TOMORROW
FROM DUAL;

SELECT SAL, NVL(COMM,0) AS COMM_N, NVL2(COMM, SAL*12+COMM, SAL*12) AS ANNSAL
FROM EMP;

SELECT ROUND(AVG(SAL), 2) AS A,COUNT(SAL) AS C
FROM EMP;

--0408

SELECT ROUND(AVG(SAL))
FROM EMP;


SELECT COUNT(ENAME)
FROM EMP
WHERE ENAME LIKE '%S%';

SELECT TO_DATE('2022-02-22')
FROM DUAL;

-- GROUP BY

SELECT AVG(SAL), DEPTNO
FROM EMP
GROUP BY DEPTNO;


SELECT DEPTNO,JOB,AVG(SAL)
FROM EMP
GROUP BY DEPTNO, JOB
ORDER BY DEPTNO, JOB;


SELECT AVG(COMM), DEPTNO
FROM EMP
GROUP BY DEPTNO;

-- GROUYP BY 에 조건을 줄때 사용하는 HAVING

SELECT DEPTNO, JOB, AVG(SAL)
FROM EMP
GROUP BY DEPTNO, JOB
    HAVING AVG(SAL) >= 2000
ORDER BY DEPTNO, JOB;

-- WHERE 과 HAVING은 다르다
SELECT DEPTNO, JOB, AVG(SAL)
FROM EMP
WHERE SAL >= 2000
GROUP BY DEPTNO, JOB
ORDER BY DEPTNO, JOB;

SELECT DEPTNO, JOB, AVG(SAL)
FROM EMP
GROUP BY DEPTNO, JOB
    HAVING AVG(SAL) >= 500
ORDER BY DEPTNO, JOB;

-- ROLLUP

SELECT DEPTNO, JOB, COUNT(*)
FROM EMP
GROUP BY DEPTNO, JOB
ORDER BY DEPTNO, JOB;

SELECT DEPTNO, JOB, COUNT(*)
FROM EMP
GROUP BY ROLLUP(DEPTNO, JOB);

SELECT DEPTNO, JOB, COUNT(*)
FROM EMP
GROUP BY DEPTNO, ROLLUP(JOB);


-- CUBE

SELECT DEPTNO, JOB, COUNT(*)
FROM EMP
GROUP BY CUBE(DEPTNO, JOB)
ORDER BY DEPTNO, JOB;

--- JOIN

SELECT *
FROM EMP, DEPT
ORDER BY EMPNO;

SELECT COUNT(*)
FROM EMP;
SELECT COUNT(*)
FROM DEPT;


SELECT *
FROM EMP, DEPT
WHERE EMP.DEPTNO = DEPT.DEPTNO
ORDER BY EMPNO;

SELECT *
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO
ORDER BY EMPNO;

SELECT E.EMPNO, D.DNAME
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO
ORDER BY EMPNO;

-- 등가 조인 equi join

SELECT E.EMPNO, E.ENAME, D.DEPTNO, D.DNAME, D.LOC
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO
ORDER BY D.DEPTNO, E.EMPNO;


SELECT E.EMPNO, E.ENAME, E.SAL, D.DEPTNO, D.DNAME, D.LOC
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO
AND SAL >= 3000;

SELECT E.EMPNO, E.ENAME, E.SAL, D.DEPTNO, D.DNAME, D.LOC
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO
AND E.SAL <= 2500
AND E.EMPNO <= 9999
ORDER BY E.EMPNO;

-- 비등가 조인 non_equi join

SELECT *
FROM EMP E, SALGRADE S
WHERE E.SAL BETWEEN S.LOSAL AND S.HISAL;

-- 자체 조인 self join

SELECT *
FROM EMP E, EMP C
WHERE E.MGR = C.EMPNO;

SELECT E1.EMPNO, E1.ENAME, E1.MGR,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
FROM EMP E1, EMP E2
WHERE E1.MGR = E2.EMPNO;

-- 외부 조인
-- LEFT JOIN
SELECT E1.EMPNO, E1.ENAME, E1.MGR,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
FROM EMP E1, EMP E2
WHERE E1.MGR = E2.EMPNO(+)
ORDER BY E1.EMPNO;
-- RIGHT JOIN
SELECT E1.EMPNO, E1.ENAME, E1.MGR,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
FROM EMP E1, EMP E2
WHERE E1.MGR(+) = E2.EMPNO
ORDER BY E1.EMPNO;

-- 서브 쿼리

SELECT SAL
FROM EMP
WHERE ENAME = 'JONES';

SELECT ENAME, JOB
FROM EMP
WHERE SAL = 2975;

SELECT ENAME, JOB
FROM EMP
WHERE SAL > (SELECT SAL
             FROM EMP
             WHERE ENAME = 'JONES');

SELECT *
FROM EMP
WHERE COMM > ( SELECT COMM
               FROM EMP
               WHERE ENAME = 'ALLEN');

SELECT *
FROM EMP
WHERE HIREDATE > (SELECT HIREDATE
                  FROM EMP
                  WHERE ENAME = 'SCOTT');
                  
SELECT E.EMPNO, E.ENAME, E.SAL, D.DEPTNO, D.DNAME, D.LOC
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO
AND E.DEPTNO = 20
AND E.SAL > (SELECT AVG(SAL)
             FROM EMP);
             
SELECT E.EMPNO, E.ENAME, E.SAL, D.DEPTNO, D.DNAME, D.LOC
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO
AND E.DEPTNO = 20
AND E.SAL <= (SELECT AVG(E.SAL)
             FROM EMP);

-- 다중행 서브쿼리

SELECT *
FROM EMP
WHERE SAL IN (SELECT MAX(SAL)
                FROM EMP
                GROUP BY DEPTNO);
                
-- ANY
SELECT *
FROM EMP
WHERE SAL < ANY(SELECT SAL
                FROM EMP
                WHERE DEPTNO = 30)
ORDER BY SAL, EMPNO;

-- ALL
SELECT *
FROM EMP
WHERE SAL < ALL(SELECT SAL
                FROM EMP
                WHERE DEPTNO = 30)
ORDER BY SAL, EMPNO;

-- 비교할 열이 여러 개인 다중열 서브쿼리

SELECT *
FROM EMP
WHERE (DEPTNO, SAL) IN (SELECT DEPTNO, MAX(SAL)
                        FROM EMP
                        GROUP BY DEPTNO);
                        
-- FROM 절에서 사용하는 서브 쿼리

SELECT E10.EMPNO, E10.ENAME, E10.DEPTNO, D.DNAME, D.LOC
FROM (SELECT * FROM EMP WHERE DEPTNO = 10) E10,
     (SELECT * FROM DEPT) D
WHERE E10.DEPTNO = D.DEPTNO;


--- 데이터 조작어

SHOW USER;

DROP TABLE DEPT_TEMP;

CREATE TABLE DEPT_TEMP
    AS SELECT * FROM DEPT;
    
SELECT * FROM DEPT_TEMP;

DESC DEPT_TEMP;


INSERT INTO DEPT_TEMP ( DEPTNO, DNAME, LOC)
                VALUES(50, 'DATABASE', 'SEOUL');

SELECT * FROM DEPT_TEMP;

INSERT INTO DEPT_TEMP
        VALUES(60, 'NETWORK','BUSAN');

SELECT * FROM DEPT_TEMP;

-- 빈칸을 넣으면에러 NULL값으로 채워주기
INSERT INTO DEPT_TEMP
        VALUES(60, 'NETWORK',NULL);



-- 테이블 날짜 데이터 입력
CREATE TABLE EMP_TEMP
AS SELECT * FROM EMP
WHERE 1 <> 1;

SELECT * FROM EMP_TEMP;

INSERT INTO EMP_TEMP (EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO)
            VALUES(9999,'홍길동','PRESIDENT',NULL,'2001/01/01',5000,1000,10);


INSERT INTO EMP_TEMP (EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO)
            VALUES(1111,'성춘향','MANAGER',9999,'2001-01-01',4000,NULL,20);
            

INSERT INTO EMP_TEMP (EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO)
            VALUES(2111,'이순신','MANAGER',9999,TO_DATE('2001/01/01'),4000,NULL,20);
            



INSERT INTO EMP_TEMP (EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO)
            SELECT E.EMPNO, E.ENAME, E.JOB, E.MGR, E.HIREDATE, E.SAL, E.COMM, E.DEPTNO
            FROM EMP E, SALGRADE S
            WHERE E.SAL BETWEEN S.LOSAL AND S.HISAL
            AND S.GRADE = 1;
            
SELECT * FROM DEPT_TEMP;

UPDATE DEPT_TEMP
  SET DNAME = 'DATABASE',
    LOC = 'SEOUL'
WHERE DEPTNO = 40;

COMMIT;

UPDATE DEPT_TEMP
  SET DNAME = 'DATABASE';
  
ROLLBACK;


UPDATE DEPT_TEMP
  SET DNAME = 'WEB',
    LOC = NULL
WHERE DEPTNO = 70;


-- 문제
SELECT * FROM EMP;

SELECT DEPTNO, JOB , AVG(SAL)
FROM EMP
GROUP BY DEPTNO, JOB
    HAVING JOB = 'MANAGER'
ORDER BY DEPTNO, JOB;


SELECT E.EMPNO, E.ENAME, E.SAL, E.COMM, D.DEPTNO, D.DNAME, D.LOC
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO
AND E.SAL >= 1000
AND E.COMM IS NOT NULL
ORDER BY E.EMPNO;

SELECT E.EMPNO, E.ENAME, E.SAL, E.COMM, D.DEPTNO, D.DNAME, D.LOC
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO
AND E.SAL IN (SELECT MAX(E.SAL)
                FROM EMP E
                GROUP BY E.DEPTNO);
                
-- 0411

SELECT *
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO;

SELECT E.EMPNO, E.ENAME, C.ENAME AS MGR_ENAME
FROM EMP E, EMP C
WHERE E.MGR = C.EMPNO;

SELECT E.EMPNO, E.ENAME, E.MGR
FROM EMP E, EMP C
WHERE E.MGR = C.EMPNO(+);


-- NATUR JOIN

SELECT E.EMPNO , DEPTNO
FROM EMP E NATURAL JOIN DEPT D;

SELECT E.EMPNO, E.ENAME, E.JOB, E.MGR, E.HIREDATE, E.SAL, E.COMM,
DEPTNO, D.DNAME, D.LOC
FROM EMP E NATURAL JOIN DEPT D
ORDER BY DEPTNO, E.EMPNO;

-- JOIN USING

SELECT E.EMPNO ,E.ENAME, E.JOB, E.HIREDATE, E.SAL, E.COMM, DEPTNO
FROM EMP E JOIN DEPT D USING(DEPTNO)
WHERE E.SAL >= 3000;

SELECT E.EMPNO, E.ENAME, E.JOB, E.MGR, E.HIREDATE, E.SAL, E.COMM,
DEPTNO, D.DNAME, D.LOC
FROM EMP E JOIN DEPT D USING (DEPTNO)
WHERE SAL >= 3000
ORDER BY DEPTNO, E.EMPNO;

-- JOIN ON

SELECT E.EMPNO, D.DEPTNO
FROM EMP E JOIN DEPT D ON ( E.DEPTNO = D.DEPTNO)
WHERE SAL <= 3000;

SELECT E.EMPNO, E.ENAME, E.JOB, E.MGR, E.HIREDATE, E.SAL, E.COMM,
E.DEPTNO, D.DNAME, D.LOC
FROM EMP E JOIN DEPT D ON (E.DEPTNO = D.DEPTNO)
WHERE SAL <= 3000
ORDER BY DEPTNO, E.EMPNO;

-- LEFT, RIGHT, FULL  OUTER JOIN


-- LEFT
SELECT E1.EMPNO, E1.ENAME, E1.MGR,
E2.EMPNO AS MGR_EMPNO, E2.ENAME AS MGR_ENAME
FROM EMP E1 LEFT OUTER JOIN EMP E2 ON ( E1.MGR = E2.EMPNO)
ORDER BY E1.EMPNO;

-- RIGHT
SELECT E1.EMPNO, E1.ENAME, E1.MGR,
E2.EMPNO AS MGR_EMPNO, E2.ENAME AS MGR_ENAME
FROM EMP E1 RIGHT OUTER JOIN EMP E2 ON ( E1.MGR = E2.EMPNO)
ORDER BY E1.EMPNO;

-- FULL
SELECT E1.EMPNO, E1.ENAME, E1.MGR,
E2.EMPNO AS MGR_EMPNO, E2.ENAME AS MGR_ENAME
FROM EMP E1 FULL OUTER JOIN EMP E2 ON ( E1.MGR = E2.EMPNO)
ORDER BY E1.EMPNO;

-- 문제
-- 1번문제
SELECT DEPTNO, D.DNAME, E.EMPNO, E.ENAME, E.SAL
FROM EMP E NATURAL JOIN DEPT D
WHERE E.SAL > 2000
ORDER BY DEPTNO;
--2번문제
SELECT DEPTNO, D.DNAME, ROUND(AVG(E.SAL)) AS AVG_SAL,
MAX(E.SAL) AS MAX_SAL, MIN(E.SAL) AS MIN_SAL, COUNT(E.SAL) AS CNT
FROM EMP E JOIN DEPT D USING(DEPTNO)
GROUP BY DEPTNO, D.DNAME;

SELECT D.DEPTNO, D.DNAME, ROUND(AVG(E.SAL)) AS AVG_SAL,
MAX(E.SAL) AS MAX_SAL, MIN(E.SAL) AS MIN_SAL, COUNT(E.SAL) AS CNT
FROM EMP E, DEPT D
WHERE E.DEPTNO = D.DEPTNO
GROUP BY D.DEPTNO, D.DNAME;
--3번문제
SELECT D.DEPTNO, D.DNAME, E.EMPNO, E.ENAME, E.JOB, E.SAL
FROM EMP E, DEPT D
WHERE E.DEPTNO(+) = D.DEPTNO
ORDER BY D.DEPTNO;


-- DEPT 테이블을 복제해 봅시다. DEPT_TEMP ㅔ이블 이름이로

DROP TABLE DEPT_TEMP;

CREATE TABLE DEPT_TEMP
    AS SELECT * FROM DEPT;

DROP TABLE DEPT_TEMP;

CREATE TABLE DEPT_TEMP
    AS SELECT * FROM DEPT
    WHERE 1 <> 1;
    
SELECT * FROM DEPT_TEMP;
DESC DEPT_TEMP;




UPDATE DEPT_TEMP
SET DEPTNO = 33, LOC = 'BUSAN'
WHERE DNAME = 'SALES';

COMMIT;


SELECT * FROM DEPT_TEMP;

DELETE FROM DEPT_TEMP
WHERE LOC = 'SEOUL';

DROP TABLE EMP_TEMP;


CREATE TABLE EMP_TEMP
AS SELECT * FROM EMP;
 
DELETE FROM EMP_TEMP
WHERE SAL >= 3000;
 
SELECT * FROM EMP_TEMP;
ROLLBACK;
DELETE FROM EMP_TEMP;
 
DROP TABLE EMP_TEMP;

-- 데이터 정의어
 
CREATE TABLE EMP_ALTER
AS SELECT * FROM EMP;
 
SELECT * FROM EMP_ALTER;

-- ADD 열추가
ALTER TABLE EMP_ALTER
ADD HP VARCHAR2(20);
-- RENAME 열 이름 변경
ALTER TABLE EMP_ALTER
RENAME COLUMN HP TO TEL;
-- MODIFY 열의 자료형 변경
ALTER TABLE EMP_ALTER
MODIFY EMPNO NUMBER(5);
 
DESC EMP_ALTER;
-- DROP 특정 열 삭제
ALTER TABLE EMP_ALTER
DROP COLUMN TEL;

-- RENAME 테이블 이름 변경
RENAME EMP_ALTER TO EMP_RENAME;
-- TRUNCATE 테이블의 데이터 삭제
TRUNCATE TABLE EMP_RENAME;

SELECT * FROM EMP_RENAME;
-- 테이블을 삭제하는 DROP
DROP TABLE EMP_RENAME;

- 연습
DROP TABLE EMP_HW;

CREATE TABLE EMP_HW(
 EMPNO  NUMBER(4),
 ENAME  VARCHAR2(10),
 JOB    VARCHAR2(9),
 MGR    NUMBER(4),
 HIREDATE   DATE,
 SAL    NUMBER(7,2),
 COMM   NUMBER(7,2),
 DEPTNO NUMBER(2)
);

DESC EMP_HW

ALTER TABLE EMP_HW
ADD BIGO VARCHAR2(20);

ALTER TABLE EMP_HW
MODIFY BIGO VARCHAR2(30);

ALTER TABLE EMP_HW
RENAME COLUMN BIGO TO REMARK;


-- 객체

SHOW USER;

SELECT * FROM DICTIONARY;

SELECT TABLE_NAME FROM USER_TABLES;


-- INDEX

SELECT * FROM USER_INDEXES;


-- VIEW
DROP VIEW VW_EMP20;

CREATE VIEW VW_EMP20
AS (SELECT EMPNO, ENAME, JOB, DEPTNO
FROM EMP
WHERE DEPTNO = 20);

SELECT * FROM USER_VIEWS;
SELECT * FROM VW_EMP20;

INSERT INTO VW_EMP20
VALUES ( 7777, 'NAME', 'JOB', 20);

-- VIEW에서 생성한것도 EMP로 들어감
SELECT * FROM EMP;

-- sequencce 시퀀스

DROP TABLE DEPT_SEQUENCE;

CREATE TABLE DEPT_SEQUENCE
AS SELECT * FROM DEPT
WHERE 1<>1;

SELECT * FROM DEPT_SEQUENCE;

DROP SEQUENCE SEQ_DEPT_SEQUENCE;

CREATE SEQUENCE SEQ_DEPT_SEQUENCE
INCREMENT BY 10
START WITH 10
MAXVALUE 90
MINVALUE 0 
NOCYCLE
CACHE 2;

SELECT * FROM USER_SEQUENCES;

INSERT INTO DEPT_SEQUENCE (DEPTNO, DNAME, LOC)
VALUES (SEQ_DEPT_SEQUENCE.NEXTVAL, 'DATABASE', 'SEOUL');

SELECT * FROM DEPT_SEQUENCE ORDER BY DEPTNO;

SELECT SEQ_DEPT_SEQUENCE.CURRVAL
FROM DUAL;

INSERT INTO DEPT_SEQUENCE (DEPTNO, DNAME, LOC)
VALUES (SEQ_DEPT_SEQUENCE.NEXTVAL, 'DATABASE', 'SEOUL');

SELECT * FROM DEPT_SEQUENCE ORDER BY DEPTNO;

-- SCOTT 계정으로  MADANG의 CUSTOMER 테이블에서 고객이름과 주소를 뽑아보자
SELECT NAME,ADDRESS
FROM MADANG.CUSTOMER;

-- 동의어
CREATE SYNONYM MA_CU
FOR MADANG.CUSTOMER;

SELECT NAME, ADDRESS
FROM MA_CU;

DROP SYNONYM MA_CU;

-- 제약 조건 지정
CREATE TABLE TABLE_NOTNULL(
    LOGIN_ID VARCHAR2(20) NOT NULL,
    LOGIN_PWD VARCHAR2(20) NOT NULL,
    TEL VARCHAR2(20)
);

DESC TABLE_NOTNULL;

CREATE TABLE TABLE_PK(
    LOGIN_ID VARCHAR2(20) PRIMARY KEY,
    LOGIN_PWD VARCHAR2(20) NOT NULL,
    TEL VARCHAR2(20)
);

DESC TABLE_PK;

-- 0412

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
FROM USER_CONSTRAINTS;

DESC DEPT_TEMP;

-- DEPT_TEMP의 DEPTNO는 UNIQUE 하게

ALTER TABLE DEPT_TEMP
MODIFY(DEPTNO UNIQUE);

SELECT * FROM DEPT_TEMP;

CREATE TABLE DEPT_FK(
    DEPTNO NUMBER(2) PRIMARY KEY,
    DNAME VARCHAR2(14),
    LOC VARCHAR2(13)
);

DESC DEPT_FK;

CREATE TABLE EMP_FK(
    EMPNO NUMBER(4) CONSTRAINT EMPFK_EMPNO_PK PRIMARY KEY,
    ENAME VARCHAR2(10),
    JOB VARCHAR2(9),
    MGR NUMBER(4),
    HIREDATE DATE,
    SAL NUMBER(7,2),
    COMM NUMBER(7,2),
    DEPTNO NUMBER(2) CONSTRAINT EMPFK_DEPTNO_FK REFERENCES DEPT_FK (DEPTNO)
);

DESC EMP_FK;

CREATE TABLE TABLE_CHECK(
    LOGIN_ID VARCHAR2(20) CONSTRAINT TBLCK_LOGINID_PK PRIMARY KEY,
    LOGIN_PWD VARCHAR2(20) CONSTRAINT TBLCK_LOGINPW_CK CHECK (LENGTH(LOGIN_PWD) > 3),
    TEL VARCHAR2(20)
);

DESC TABLE_CHECK;

INSERT INTO TABLE_CHECK
    VALUES('TEST_ID', '1234', '010-1234-5678');
    
SELECT * FROM TABLE_CHECK;

