-- 사용자 만들기


CREATE USER ORCLSTUDY
IDENTIFIED BY orclstudy;

GRANT CREATE SESSION TO ORCLSTUDY;

-- 사용자 패스워드 변경
ALTER USER ORCLSTUDY
IDENTIFIED BY orclstudy;

-- 사용자 삭제

DROP USER ORCLSTUDY;

DROP USER ORCLSTUDY CASCADE;
DROP USER MADANG CASCADE;


CREATE USER MADANG
IDENTIFIED BY MADANG;

-- GRANT CREATE SESSION TO MADANG
GRANT CREATE VIEW, CREATE SYNONYM TO MADANG;
GRANT CREATE SESSION TO MADANG;
GRANT CREATE TABLE TO MADANG;
GRANT CREATE USER, RESOURCE TO MADANG;

SHOW USER;

GRANT CREATE VIEW TO SCOTT;

GRANT SELECT ON CUSTOMER TO SCOTT;
GRANT CREATE SYNONYM TO SCOTT;